{
font-family: Arial, Helvetica, Sans-serf;
font-size: 16px;
}

boby{

    background-color: rgb(73, 73, 153);
}

img.lado{
    float: right;
}

main {

background-color: white;
width: 500px;
margin: auto;
padding: 10px;
box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.473);

}